.blog {
    margin-top: 50px;
    .main {
        .item {
            margin-top: 50px;
            margin-bottom: 50px;
            display: inline-block;
            width: 30%;
            a {
                img {
                    width: 416px;
                    height: 288px;
                    border-radius: 20px;
                }
                &:hover{
                    opacity: 0.5;
                }
            }
            h3 {
                a {
                    text-decoration: none;
                    color:#2f2f2f;  
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 7px;
                    margin-left: 10px;
                }
            }
            p {
                color:#2f2f2f;
                font-size: 14px;
                margin-left: 10px;
                b {
                    cursor: pointer;
                }
            }
        }
        .space-between {
            display:inline-block;
            width: 4%;
        }
    }
}